<div class="row-fluid col-md-6 clearfix">
  <div class="span4 well">
    <%= simple_form_for @coordinator do |f| %>
      <fieldset >
        <legend>Coordinator</legend>
          <%= f.input :name  %>
        <%= f.input :email %>
        <%= f.input :phone %>
        <div class="form-actions">
          <%= f.submit %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
</div>
