
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h4>Coordinators</h4>
    </div>
  </div>
  <table class="table table-striped table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
      <% @coordinators.each do |coordinator| %>
      <tr>
        <td><%= coordinator.name %></td>
        <td><%= coordinator.email %></td>
        <td><%= coordinator.phone %></td>
        <td>
          <%= link_to coordinator, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-eye-open"></span>
          <% end %>
          <%= link_to edit_coordinator_path(coordinator), class: "btn btn-default btn-sm" do %>
            <span class="glyphicon  glyphicon-pencil"></span>
          <% end %>
          <%= link_to 'Delete', coordinator, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-default  btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>

<%= link_to new_coordinator_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> New Coordinator
<% end %>
