
<div class="row-fluid col-md-6 clearfix">
  <div class="span4 well">
    <%= simple_form_for @registry do |f| %>
      <% if @registry.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@registry.errors.count, "error") %> prohibited this registry from being saved:</h2>

          <ul>
          <% @registry.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <fieldset >
      <legend><%= operation %> Registry</legend>
      <%= f.input :name %>
      <%= f.input :location %>
      <%= f.input :state, collection: ["open", "closed"], include_blank: false %>
      <%= f.input :coordinator_id, collection: Coordinator.order(:name), label_method: :name,
                  value_method: :id, label: "Coordinator", include_blank: false %>
      <div class="actions">
        <%= f.submit %>
      </div>
    </fieldset >
    <% end %>
  </div>
</div>
</div>
