
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h4>Registries</h4>
      </div>
    </div>
<table class="table table-striped table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>State</th>
    </tr>
  </thead>

  <tbody>
    <% @registries.each do |registry| %>
      <tr>
        <td><%= registry.name %></td>
        <td><%= registry.location %></td>
        <td><%= registry.state %></td>
        <td>
          <%= link_to 'Participants', registry, class: "btn btn-default  btn-sm" %>
          <%= link_to edit_registry_path(registry), class: "btn btn-default btn-sm" do %>
            <span class="glyphicon  glyphicon-pencil"></span>
          <% end %>
          <%= link_to 'Delete', registry, method: :delete, data: { confirm: 'Are you sure?' },
              class: "btn btn-default  btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>
<%= link_to new_registry_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> New Registry
<% end %>
