<div class="row-fluid col-md-6 clearfix">
  <div class="span4 well">
    <%= simple_form_for @enrollment do |f| %>
      <% if @enrollment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>
          <ul>
          <% @enrollment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <fieldset >
        <legend>Edit Enrollment</legend>
        <%= f.input :enrollment_date, as: :date, html5: true %>
        <%= f.input :registry_id, collection: @registries, label_method: :name,
            value_method: :id, label: "Registry", include_blank: false, selected: @enrollment.registry.id  %>
        <%= f.input :participant_id, collection: @participants, label_method: :name,
            value_method: :id, label: "Participant", include_blank: false, selected: @enrollment.participant.id %>
        <%= f.input :coordinator_id, collection: @coordinators, label_method: :name,
              value_method: :id, label: "Coordinator", selected: @enrollment.coordinator.id %>
        <%= f.input :method_of_contact, collection: ["phone", "email"], selected: @enrollment.method_of_contact %>
        <%= f.input :remarks %>
        <div class="actions">
          <%= f.submit %>
        </div>
      </fieldset >
    <% end %>
    </div>
  </div>
</div>
