<div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <i class="fa fa-credit-card pull-right"></i>
              <h4>New Enrollment</h4>
            </div>
          </div><div class="panel-body">
<%= form_for(@enrollment, :html => {:class => "form-vertical"}) do |f| %>
  <% if @enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
      <% @enrollment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :enrollment_date %><br>
    <%= f.date_field :enrollment_date %>
  </div>

  <div class="field">
    <%= f.label :registry_id %><br>
    <% if @enrollment.registry.nil? %>
      <%= f.collection_select :registry_id, Registry.order(:name), :id, :name, {}, {class: "store-select"} %>
    <% else %>
      <%= f.collection_select :registry_id, Registry.order(:name), :id, :name, {:selected => @enrollment.registry.id }, {class: "store-select"} %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :participant_id %><br>
    <%= f.collection_select :participant_id, Participant.order(:name), :id, :name, {}, {class: "store-select"} %>
  </div>
  <div class="field">
    <%= f.label :coordinator_id %><br>
    <%= f.collection_select :coordinator_id, Coordinator.order(:name), :id, :name, {}, {class: "store-select"} %>
  </div>
  <div class="field">
    <%= f.label :method_of_contact %><br>
    <%= f.select :method_of_contact, options_for_select([ "phone", "email" ]) %>
  </div>
  <div class="field">
    <%= f.label :remarks %><br>
    <%= f.text_area :remarks %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>
