
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h4>All Enrollments</h4>
    </div>
  </div>
  <table class="table table-striped table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Registry</th>
      <th>Enroll Date</th>
      <th>Coordinator</th>
      <th>Contact</th>
      <th>Remarks</th>
    </tr>
  </thead>
  <tbody>
        <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.participant.name %></td>
        <td><%= enrollment.registry.name %></td>
        <td><%= enrollment.enrollment_date %></td>
        <td><%= enrollment.coordinator.name %></td>
        <td><%= enrollment.method_of_contact %></td>
        <td><%= enrollment.remarks %></td>
        <td>
          <%= link_to edit_enrollment_path(enrollment), class: "btn btn-default btn-sm" do %>
            <span class="glyphicon  glyphicon-pencil"></span>
          <% end %>
          <%= link_to 'Delete', enrollment, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-default  btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>

<%= link_to new_enrollment_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> New Enrollment
<% end %>
